PORT=5050
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=your_db_password
DB_NAME=qrmenu
DB_PORT=5432
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=1d

# SMS Test Modu Ayarları
NODE_ENV=production
SMS_TEST_MODE=false

# NETGSM Ayarları
# NETGSM_USERNAME=your_netgsm_username
# NETGSM_PASSWORD=your_netgsm_password
# NETGSM_HEADER=CESME KAHVE

# Master Lisans Sistemi
MASTER_PASSWORD=your_master_password